<div class="audio-ctnr">

  <table mat-table [dataSource]="dataToDisplay" class="records-list mat-elevation-z8 ">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef>Album</th>
      <td mat-cell *matCellDef="let element">{{element.album}}</td>
    </ng-container>

    <ng-container matColumnDef="play">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab (click)="play(element.path)">
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>

  <div class="player-ctnr">
    <audio controls class="player" #audioPlayer [hidden]="!audioSrc">
      <source [src]="audioSrc" type="audio/mpeg"/>
    </audio>
  </div>

</div>
